name: Email Check Action

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # REQUIRED STEP (DO NOT CHANGE THIS NAME)
      - name: 25ds3000085@ds.study.iitm.ac.in
        run: echo "Hello, world!"

      - name: Done
        run: echo "Finished"
